MAX_WORKERS=10

STRR_SERVICE_ACCOUNT_CLIENT_ID="client_id"
STRR_SERVICE_ACCOUNT_SECRET="client_secret"
KEYCLOAK_AUTH_TOKEN_URL="token_url"
AUTH_SVC_TIMEOUT="20"
NOTIFY_API_TIMEOUT="10"
NOTIFY_API_URL ="notify_url"
NOTIFY_API_VERSION ="/api/v1"

MAX_WORKERS=10

# DATABASE_URL=postgresql+pg8000://postgres:postgres@localhost:5432/postgres [for local testing only]

DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Leave blank for host/port local debug; use /cloudsql/<project:region:instance> in deployed env
DATABASE_UNIX_SOCKET=
