MAX_WORKERS=10

# Local database
# DATABASE_URL=postgresql+pg8000://postgres:postgres@localhost:5432/postgres
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_UNIX_SOCKET=

# Cloud SQL IAM (deployed GCP)
CLOUDSQL_INSTANCE_CONNECTION_NAME=
CLOUDSQL_IP_TYPE=PUBLIC

STRR_SERVICE_ACCOUNT_CLIENT_ID="client_id"
STRR_SERVICE_ACCOUNT_SECRET="client_secret"
KEYCLOAK_AUTH_TOKEN_URL="token_url"
AUTH_SVC_TIMEOUT="20"
NOTIFY_API_TIMEOUT="10"
NOTIFY_API_URL ="notify_url"
NOTIFY_API_VERSION ="/api/v1"
