FLASK_ENV=

# SQL Alchemy
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=

# Cloud SQL IAM (deployed GCP)
CLOUDSQL_INSTANCE_CONNECTION_NAME=
CLOUDSQL_IP_TYPE=PUBLIC
